.calc {
    background-color: #5bc0de; /* Custom teal */
    color: white;
    font-weight: bold;
    min-width: 70px;
    max-width: 80px;
    min-height: 50px;
    max-height: 80px;
    font-size: 30px;
}